#messagelogo-svg{
  visibility: collapse; 
}
#messagelogo-div {
  visibility:hidden; 
 height:fit-content;
 position: fixed;
 bottom: 3%;
 right: -8%;
 transform: translateX(-50%);
 width: 200px;
 font-weight:bold;
 font-family:sans-serif;
 border-radius:8px 8px 0 0;
 overflow:hidden;
}
.linkwrap {
 position:absolute;
 width:170px;
 overflow:hidden;
 height:80px;
 display:flex;
 align-items:center;
 left:10%;
 bottom:0px;
 
}
.gbtt {
 width:120px;
 color:skyblue;
 background:transparent;
 padding:16px 16px 16px 30px;
}

@media (max-width:885px) {  
  #messagelogo-div {
    right: -15%;
  }
  
  
  }

  @media (max-width:575px) {  
    #messagelogo-div {
      right: -21.5%;
    }
    
    
    }